.newsfeed-container{
    width: 60%;
    padding: 15px 10px;
}

.story-container{
    display: flex;
    position: relative;
    overflow-x: hidden;
}

.stories{
    display: flex;
    flex-wrap: nowrap; /* Tự động xuống dòng */
    transition: transform 0.3s ease;
}

/* margin cho các stories ở vị trí chẵn */
.stories div:nth-of-type(even){
    margin: 0 6px;
}

/* Tạo 1 lớp ảo ảo cho Story-box */
.story-box::before{
    content: "";
    background-color: rgba(27, 26, 26, 0.437);
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.story-box .username{
    position: absolute;
    z-index: 2;
    bottom: 3%;
    font-weight: bold;
}

.scroll-button{
    position: absolute;
    top: 50%;
    color: white;
    padding: 0px 10px 0px 20px;
    cursor: pointer;
    z-index: 50;
}

.left{
    left: 0;
}

.right{
    right: 0;
}

/* POST-STATUS */
.poststatus-container{
    margin-top: 25px;
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
}

.post-input {
    display: flex;
}

.post-input .input{
    margin-left: 20px;
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: 1px solid grey;
    padding: 8px;
    font-size: 15px;
}

.post-file{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.post-file .post-file-children{
    display: flex;
    align-items: center;
}

.post-file .post-file-children span{
    font-weight: bold;
}

/* News Content */
.newscontent-container{
    margin-top: 10px;
}

.newscontent-container .news-box{
    margin: 10px 0;
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
}

.news-box_header{
    display: flex;
    position: relative;
}

.news-box_header .icon-setting{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.news-box_header .header-infor{
    margin-left: 10px;
}

.news-box_header .header-infor p{
    font-weight: bold;
}
.news-box_status{
    margin-left: 15px;
}
.news-box_img{
    margin: 10px 0;
    width: 100%;
    height: 500px;
    border-radius: 5px;
    object-fit: cover;
}
.news-box_total-reaction{
    display: flex;
    align-items: center;
    position: relative;
}
.news-box_total-reaction .like{
    display: flex;
    align-items: center;
}
.news-box_total-reaction .like span{
    margin-left: 10px;
}
.news-box_total-reaction .comment{
    position: absolute;
    top: 5px;
    right: 15px;
}
.news-box_total-reaction .comment span:nth-of-type(1){
    margin-right: 5px;
}

.news-box .line{
    margin: 10px 15px;
}

.news-box_button{
    display: flex;
    justify-content: space-between;
}

.news-box_button .button{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: center;
    padding: 5px;
    border-right: 1px solid lightgray;
    cursor: pointer;
    transition: 0.4s;
}

.news-box_button .button:hover{
    background-color: lightgray;
    border-radius: 5px;
}
.news-box_button .button span{
    margin-left: 10px;
}

.news-box_list-comment{
    margin: 15px 0;
}

.news-box_list-comment .view-more{
    font-weight: bold;
    cursor: pointer;
}

.news-box_list-comment .user-comment{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.news-box_list-comment .user-comment .comment{
    background-color: var(--primary-color);
    color: white;
    padding: 5px;
    border-radius:5px;
    margin-left: 10px;
}

.news-box_list-comment .user-comment .comment p:nth-of-type(1){
    font-weight: bold;
}

.news-box_list-comment .input-comment{
    display: flex;
    align-items: center;
}

.news-box_list-comment .input-comment .user-input{
    position: relative;
    width: 100%;
}

.news-box_list-comment .input-comment .user-input .input{
    width: 98.3%;
    height: 25px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 3px;
    font-size: 14px;
    border: 1px solid lightgray;
    outline: none;
}

.news-box_list-comment .input-comment .user-input .icon{
    position: absolute;
    top: 3.5px;
    right: 0;
    cursor: pointer;
}