*{
    padding: 0;
    margin: 0;
}

:root{
    --primary-color: #0088ff; /* set mau chinh*/
    --size-xl: 22px;
    --size-l: 18px;
    --background-color: aliceblue;
    --border-color: aliceblue;
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    background-color: #c7ced4;
}

::-webkit-scrollbar-thumb{
    background-color: #0088ff;
}